@page
@model IsolaattiSoftwareWebsite.Pages.Admin.Settings

@{
    Layout = "Shared/_LayoutAdmin";
    ViewData["Title"] = "Ajustes";
}

<div class="section">
    <h1 class="title">Aquí va la página de ajustes.</h1>
</div>