@page "/desarrollo"
@model IsolaattiSoftwareWebsite.Pages.DevelopmentService

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Desarrollo de software";
}

<section class="hero is-medium has-background-black">
    <div class="hero-body">
        <div class="is-size-1">
            <i class="fa-solid fa-gears"></i>
        </div>
        <h1 class="title has-text-light">
            Soluciones
        </h1>
        <p class="subtitle has-text-light">
            Soluciones de software para su negocio
        </p>
    </div>
</section>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="section">
                <div class="container">
                    <div class="is-size-2">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <h2 class="title has-text-grey-dark">
                        Nuevos desarrollos
                    </h2>
                    <p>
                        Soluciones de software a la medida de su negocio
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="section">
                <div class="container">
                    <div class="is-size-2">
                        <i class="fa-solid fa-code-merge"></i>
                    </div>
                    <h2 class="title has-text-grey-dark">
                        Mantenimiento y/o actualización
                    </h2>
                    <p>
                        Mantenimiento de software legacy o migración a nuevas tecnologías
                    </p>

                </div>
            </div>
        </div>
        <div class="column">
            <div class="section">
                <div class="container">
                    <div class="is-size-2">
                        <i class="fa-solid fa-network-wired"></i>
                    </div>
                    <h2 class="title has-text-grey-dark">
                        Tareas de infraestructura
                    </h2>
                    <p>
                        Implementación de aplicaciones en la nube,
                        configuración de VPNs, consultoría de rendimiento de aplicaciones y más
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero is-medium is-light">
    <div class="hero-body">
        <div class="hero-head">
            <h2 class="title has-text-centered">
                Estamos bien puestos para un primer contacto
            </h2>
        </div>
        <div class="hero-buttons">
                        
            <a asp-page="/Contact" class="button is-dark is-outlined is-large">
                Contáctenos
            </a>
        </div>
    </div>
</div>