@page
@model IndexModel
@{
  Layout = "Shared/_Layout";
  ViewData["Title"] = "Inicio";
}

<section class="hero is-large has-background-black">
  
  <div class="hero-body">
    <p class="title has-text-light is-size-1-desktop is-size-2-tablet">
      Isolaatti Software
    </p>
    <p class="subtitle has-text-light is-size-3-desktop is-size-4-tablet">
      Apasionados por ser la cúspide del desarrollo de software y la innovación
    </p>
    <p>
      <a class="button is-link is-size-4-desktop" asp-page="/Contact">
        Cuéntenos de su proyecto
      </a>
    </p>
  </div>
</section>