@page "/error/404"
@model IsolaattiSoftwareWebsite.Pages.NotFoundPage

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Página no encontrada";
}

<div class="hero">
    <div class="hero-body">
        <div class="section">
            <div class="section is-size-1">
                <i class="fa-solid fa-heart-crack"></i>
            </div>
            <h1 class="title">Página no encontrada</h1>
            <h2 class="subtitle">Error 404</h2>
        </div>
    </div>
</div>