@page "/codigo_abierto"
@model IsolaattiSoftwareWebsite.Pages.OpenSource

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Código abierto";
}
@section metadata
{
      <meta property="og:url" content="https://isolaattisoftware.com.mx/codigo_abierto"/>
      <meta proerty="og-title" content="Isolaatti Software: open source"/>
}

<section class="hero is-medium has-background-black">
    <div class="hero-body">
        <div class="is-size-1">
            <i class="fa-solid fa-code"></i>
        </div>
        <h1 class="title has-text-light">
            Código abierto
        </h1>
        <p class="subtitle has-text-light">
            Los sitios web y plataformas de Isolaatti Software son código abierto.
        </p>
    </div>
</section>
<div class="hero is-medium is-light">
    <div class="hero-body">
        <div class="hero-head">
            <h2 class="title has-text-centered">
                Puede unirse al desarrollo del software
            </h2>
        </div>
        <p class="has-text-centered">
            Contribuya con código a los servicios de la plataforma Isolaatti. Todos las aplicaciones son de código abierto.
        </p>
        <div class="hero-buttons">
                            
            <a href="https://github.com/Isolaatti-Software" class="button is-dark is-outlined is-large">
                Ir a la organización en GitHub
            </a>
        </div>
    </div>
</div>