@page "/eliminar_datos"
@using IsolaattiSoftwareWebsite.Enums
@model IsolaattiSoftwareWebsite.Pages.ValidateSecretCode

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Eliminación de datos";
}
<div class="container section">
    <div class="section">
        <h1 class="title">Eliminación de datos</h1>
        @if (Model.Deleted)
        {
            <h1 class="title">Todo correcto, ya hemos eliminado tus datos.</h1>
        }
        else
        {
            <form asp-page-handler="DeleteInfo" method="post" class="section">
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="Code">
                <button class="button is-primary">Eliminar todo</button>
            </form>
        
        
            <div class="section">
                <h2 class="subtitle">Correo electrónico</h2>
                <div class="message">
                    <div class="message-body">
                        <strong>@Model.ContactUsEnumerable.FirstOrDefault()?.Email</strong>
                    </div>
                </div>
                <h2 class="subtitle">Solicitudes</h2>
                @foreach (var contactUs in Model.ContactUsEnumerable)
                {
                    <article class="message is-info">
                        <div class="message-body">
                            <p><strong>Nombre: </strong>@contactUs.Name @contactUs.LastName</p>
                            <p><strong>Asunto: </strong>
                                @switch (contactUs.Subject)
                                {
                                    case ContactUsSubject.NewSoftware: <span>Desarrollo de software nuevo</span>
                                        break;
                                    case ContactUsSubject.Legacy: <span>Mantenimiento o actualización de software legacy</span>
                                        break;
                                    case ContactUsSubject.Infrastructure: <span>Tareas de infraestructura</span>
                                        break;
                                    case ContactUsSubject.Isolaatti: <span>Isolaatti</span>
                                        break;
                                    case ContactUsSubject.Other: <span>Otro</span>
                                        break;
                                }

                            </p>
                            <p><strong>Mensaje: </strong>@contactUs.Message</p>
                        </div>
                    </article>
                }
            </div>
        }
    </div>
    
</div>
